/* Pour enlever l'animation hover bootstrap par défaut, laisser le !important car bootstrap prendra la main sinon*/
a {
    text-decoration: none !important;
}


a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:focus {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}